.up{
  background-image: url('https://s-cdn.sportbox.ru/images/styles/upload/fp_fotos/cc/2b/02979629f70bdc2ad4146d7d0651667765e8b324460a0442041043.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.text{
  position: absolute;
  top: 30px;
  left: 50px;
  font-size: 75px;
}
.vtext{
  font-size: 70px;
  text-align: center;
}
body{
  margin: 0;
}
.vratari{
  display: flex;
}
.courtois{
  position: absolute;
  top: 825px;
  left: 10px;
  text-align: center;
  right: 893px;
}
.courtois2{
  position: absolute;
  top: 200px;
  left: 90px;
  text-align: center;
  background-color: white;
  text-decoration: none;
  padding: 4px 4px;
  right: 90px;
  font-size: 8.8px;
}
summary{
  list-style: none;
}
.lunin{
  position: absolute;
  top: 825px;
  left: 487px;
  text-align: center;
  right: 560px;
}
.lunin2{
  position: absolute;
  top: 210px;
  left: 0px;
  text-align: center;
  background-color: white;
  text-decoration: none;
  padding: 4px 4px;
  right: 0px;
  font-size: 10px;
}
.diego{
  position: absolute;
  top: 1431px;
  left: 83px;
  text-align: center;
  right: 964px;
}
.diego2{
  position: absolute;
  top: 180px;
  left: 0px;
  text-align: center;
  background-color: white;
  text-decoration: none;
  padding: 4px 4px;
  right: 0px;
  font-size: 14px;
}
.kepa{
  position: absolute;
  top: 825px;
  left: 892px;
  text-align: center;
  right: 156px;
}
.kepa2{
  position: absolute;
  top: 210px;
  left: 0px;
  text-align: center;
  background-color: white;
  text-decoration: none;
  padding: 4px 4px;
  right: 0px;
  font-size: 11px;
}
.lucas{
  position: absolute;
  top: 1431px;
  left: 487px;
  text-align: center;
  right: 560px;
}
.lucas2{
  position: absolute;
  top: 205px;
  left: 0px;
  text-align: center;
  background-color: white;
  text-decoration: none;
  padding: 4px 4px;
  right: 0px;
  font-size: 12px;
}
.mario{
  position: absolute;
  top: 1431px;
  left: 892px;
  text-align: center;
  right: 156px;
}
.mario2{
  position:absolute;
  top: 185px;
  left: 0px;
  text-align: center;
  background-color: white;
  text-decoration: none;
  padding: 4px 4px;
  right: 0px;
  font-size: 12px;
}
.fran{
  position: absolute;
  top: 2037px;
  left: 83px;
  text-align: center;
  right: 964px;
}
.fran2{
  position: absolute;
  top: 180px;
  left: 0px;
  text-align: center;
  background-color: white;
  text-decoration: none;
  padding: 4px 4px;
  right: 0px;
  font-size: 14px;
}
.ztext{
  font-size: 70px;
  text-align: center;
}
.alvaro{
  position: absolute;
  top: 2737px;
  left: 83px;
  text-align: center;
  right: 964px;
}
.alvaro2{
  position: absolute;
  top: 180px;
  left: 0px;
  text-align: center;
  background-color: white;
  text-decoration: none;
  padding: 4px 4px;
  right: 0px;
  font-size: 19px;
}
.antonio{
  position: absolute;
  top: 2737px;
  left: 487px;
  text-align: center;
  right: 560px;
}
.antonio2{
  position: absolute;
  top: 180px;
  left: 0px;
  text-align: center;
  background-color: white;
  text-decoration: none;
  padding: 4px 4px;
  right: 0px;
  font-size: 19px;
}
.vinit2{
  position:absolute;
  top: 185px;
  left: 0px;
  text-align: center;
  background-color: white;
  text-decoration: none;
  padding: 4px 4px;
  right: 0px;
  font-size: 16px;
}
  .vinit{
    position: absolute;
    top: 2737px;
    left: 892px;
    text-align: center;
    right: 156px;
  }
  .alaba{
    position: absolute;
    top: 3337px;
    left: 83px;
    text-align: center;
    right: 964px;
  }
  .alaba2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 17px;
  }
  .carva{
    position: absolute;
    top: 3337px;
    left: 487px;
    text-align: center;
    right: 560px;
  }
  .carva2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 14px;
  }
  .lucasv{
    position: absolute;
    top: 3337px;
    left: 892px;
    text-align: center;
    right: 156px;
  }
  .lucasv2{
    position:absolute;
    top: 185px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 19px;
  }
  .nacho{
    position: absolute;
    top: 3937px;
    left: 83px;
    text-align: center;
    right: 964px;
  }
  .nacho2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 15px;
  }
  .mendi{
    position: absolute;
    top: 3945px;
    left: 487px;
    text-align: center;
    right: 560px;
  }
  .mendi2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 17px;
  }
  .frang{
    position: absolute;
    top: 3937px;
    left: 892px;
    text-align: center;
    right: 156px;
  }
  .frang2{
    position:absolute;
    top: 170px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 20px;
  }
  .ramon{
    position: absolute;
    top: 4547px;
    left: 83px;
    text-align: center;
    right: 964px;
  }
  .ramon2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 21px;
  }
  .mili{
    position: absolute;
    top: 4547px;
    left: 487px;
    text-align: center;
    right: 560px;
  }
  .mili2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 19px;
  }
  .edgar{
    position: absolute;
    top: 4549px;
    left: 892px;
    text-align: center;
    right: 156px;
  }
  .edgar2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 14.5px;
  }
  .ptext{
    font-size: 70px;
    text-align: center;
  }
  .arda{
    position: absolute;
    top: 5250px;
    left: 83px;
    text-align: center;
    right: 964px;
  }
  .arda2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 19px;
  }
  .brahim{
    position: absolute;
    top: 5250px;
    left: 487px;
    text-align: center;
    right: 560px;
  }
  .brahim2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 15px;
  }
  .vini{
    position: absolute;
    top: 5250px;
    left: 892px;
    text-align: center;
    right: 156px;
  }
  .vini2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 14.5px;
  }
  .dani{
    position: absolute;
    top: 5855px;
    left: 83px;
    text-align: center;
    right: 964px;
  }
  .dani2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 16px;
  }
  .jude{
    position: absolute;
    top: 5855px;
    left: 487px;
    text-align: center;
    right: 560px;
  }
  .jude2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 13px;
  }
  .modric{
    position: absolute;
    top: 5855px;
    left: 892px;
    text-align: center;
    right: 156px;
  }
  .modric2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 13px;
  }
  .nico{
    position: absolute;
    top: 6458px;
    left: 83px;
    text-align: center;
    right: 964px;
  }
  .nico2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 19px;
  }
  .tchua{
    position: absolute;
    top: 6455px;
    left: 487px;
    text-align: center;
    right: 560px;
  }
  .tchua2{
    position: absolute;
    top: 170px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 18px;
  }
  .rodrigo{
    position: absolute;
    top: 6455px;
    left: 892px;
    text-align: center;
    right: 156px;
  }
  .rodrigo2{
    position: absolute;
    top: 170px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 19px;
  }
  .toni{
    position: absolute;
    top: 7060px;
    left: 83px;
    text-align: center;
    right: 964px;
  }
  .toni2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 14.4px;
  }
  .fede{
    position: absolute;
    top: 7060px;
    left: 487px;
    text-align: center;
    right: 560px;
  }
  .fede2{
    position: absolute;
    top: 170px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 16px;
  }
  .cama{
    position: absolute;
    top: 7060px;
    left: 892px;
    text-align: center;
    right: 156px;
  }
  .cama2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 16.5px;
  }
  .ntext{
    font-size: 70px;
    text-align: center;
  }
  .alva{
    position: absolute;
    top: 7760px;
    left: 83px;
    text-align: center;
    right: 964px;
  }
  .alva2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 20px;
  }
  .kilian{
    position: absolute;
    top: 7760px;
    left: 487px;
    text-align: center;
    right: 560px;
  }
  .kilian2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 13px;
  }
  .jose{
    position: absolute;
    top: 7770px;
    left: 892px;
    text-align: center;
    right: 156px;
  }
  .jose2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 16.5px;
  }
  .ttext{
    font-size: 70px;
    text-align: center;
  }
  .tcard{
    text-align: center;
  }
  .carlo{
    position: absolute;
    top: 8460px;
    left: 525px;
    text-align: center;
    right: 525px;
  }
  .carlo2{
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 4px 4px;
    right: 0px;
    font-size: 13px;
  }
