body{
  background-image: url('https://kartinki.pics/pics/uploads/posts/2022-08/thumbs/1659827044_38-kartinkin-net-p-real-madrid-oboi-krasivo-40.jpg');
   height: 100hv;
  background-size:cover;
}
.container{
  margin: 0px 25px;
  padding-top: 25px;
  display: flex;
  align-items: center;
}
.nav-item{
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: 700;
  font-size: 30px;
  transition: color 0.3s linear;

}
.nav-item:hover{
  color: red;

}
.card {
  border-right:1px solid #FFFFFF;
  padding-right: 10px;
  height: 50px;
}

.network{
  position: relative;
  color: white;
  left: 10px;
}
.cardi{
  position: relative;
  left: 15px;
}
.cardf{
  position: relative;
  left: 30px;
}
.cardx{
  position: relative;
  left: 50px;
}
.button{
  background-color: #52bae3;
  color: white;
  text-decoration: none;
  padding: 16px 22px;
  font-weight: 700;
  transition: color 0.3s linear;
}
.button:hover{
  color: blue;

}
.btn{
  position: relative;
  color: white;
  left: 200px;
}
