body{
  margin: 0;
}
.card{
  background-image: url('https://cdnn21.img.ria.ru/images/07e8/06/02/1949945789_0:128:3074:1857_1920x0_80_0_0_a905a445b47c989996851499f574aa4f.jpg');
  height:700px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
  margin: 0px 25px;
  padding-top: 25px;
  display: flex;
  align-items: center;
}
.card-title{
  position: absolute;
  top: 28px;
  left: 90px;
  font-weight: 800;
  font-size: 38px;

}
.card-deck{
  position: absolute;
  top:265px;
  left: 90px;
  font-size: 35px;
}
.button{
  position: absolute;
  top: 15px;
  right: 30px;
  background-color: #52bae3;
  color: white;
  text-decoration: none;
  padding: 16px 22px;
  font-weight: 700;
  transition: color 0.3s linear;
}
.button:hover{
  color: blue;

}
.title-text{
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  position:relative;
  left: 450px;
}
.t-shirt{
  position: absolute;
  top: 1040px;
  left: 97px;
  color: black;
  text-align: center;
}
.t-shirt:hover{
  color: blue;
}
.prace{
  color: gold;
  font-size: 20px;
  text-align: center;
}
.t-shirt-24-25{
  position: absolute;
  top: 1040px;
  left: 910px;
  color: black;
  text-align: center;
}
.t-shirt-24-25:hover{
  color: blue;
}
  .t-shirt-23-24{
    position: absolute;
    top: 1040px;
    left: 500px;
    color: black;
    text-align: center;
  }
  .t-shirt-23-24:hover{
    color: blue;
  }
  .t-shirt-25{
    position: absolute;
    top: 1540px;
    left: 108px;
    color: black;
    text-align: center;
  }
  .t-shirt-25:hover{
    color: blue;
  }
  .train-24-25{
    position: absolute;
    top: 1540px;
    left: 910px;
    color: black;
    text-align: center;
  }
  .train-24-25:hover{
    color: blue;
  }
  .gk-kit{
    position: absolute;
    top: 1540px;
    left: 505px;
    color: black;
    text-align: center;
  }
  .gk-kit:hover{
    color: blue;
  }
  .jacket{
    position: absolute;
    top: 2040px;
    left: 99px;
    color: black;
    text-align: center;
  }
  .jacket:hover{
    color: blue;
  }
  .gloves{
    position: absolute;
    top: 2040px;
    left: 505px;
    color: black;
    text-align: center;
  }
  .gloves:hover{
    color: blue;
  }
  .shorts{
    position: absolute;
    top: 2040px;
    left: 910px;
    color: black;
    text-align: center;
  }
  .shorts:hover{
    color: blue;
  }
  
