body
{
  background-image: url('https://img2.akspic.ru/crops/6/4/9/3/4/143946/143946-tekstura_drevesiny-lak-laminat-morilka-tekstura_dereva-1920x1080.jpg');

}
.brother{
  transform: rotate(10deg);
  position: absolute;
  top: 172px;
  left: 50px;
  text-align: center;
}
.story{
  display: flex;
}
.main{
  position: absolute;
  top: 15px;
  right: 165px;
  text-align: center;
}
.king{
  transform: rotate(357deg);
  position: absolute;
  top: 122px;
  left: 260px;
  text-align: center;
}
.light{
  background-image: url("glass.png");
  background-size: cover;
}
.container{
  margin: 0px 25px;
  padding-left: 35px;
  padding-top: 13px;
  align-items: center;
  text-align: center;
}
.button{
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 16px 48px;
  font-weight: 700;
  position: absolute;
  top: 655px;
  left: 534px;
}
.calderona{
  display: flex;
}
.vintag{
  transform: rotate(15deg);
}
.calderona-img1{
  position: absolute;
  top: 2990px;
  left: 717;
  transform: rotate(14deg);
  text-align: center;
}
.calderona-img2{
  position: absolute;
  top: 2982px;
  left: 989;
  transform: rotate(359deg);
  text-align: center;
}
.vintag2{
  position: absolute;
  top: 3304px;
  left: 772;
}
.calderona-img3{
  position: absolute;
  top: 3354px;
  left: 833;
  text-align: center;
  transform: rotate(359deg);
}
.calderona-text{
  position: absolute;
  top: 3004px;
  left: 40px;
  right: 685px;
  text-align: center;
}
.coach{
  position: absolute;
  top: 1080px;
  left: 733;
  text-align: center;
  transform: rotate(359deg);
}
.comand{
  position: absolute;
  top: 1480px;
  left: 733;
  text-align: center;
  transform: rotate(359deg);
}
.stext{
  position: absolute;
  top: 1020px;
  left: 140px;
  right: 685px;
  text-align: center;
}
.fperes{
  display: flex;
}
.fperes-text{
  position: absolute;
  top: 2250px;
  text-align: center;
  left: 90px;
  right: 730;
}
.peres-img{
  position: absolute;
  top: 2230px;
  left: 900;
  text-align: center;
}
.figu-img{
  position: absolute;
  top: 2370px;
  left: 800px;
  text-align: center;
}
.zidan-img{
  position: absolute;
  top: 2370px;
  left: 1000px;
  text-align: center;
}
.ronaldo-img{
  position: absolute;
  top: 2530px;
  left: 800px;
  text-align: center;
}
.backham-img{
  position: absolute;
  top: 2530px;
  left: 1000px;
  text-align: center;
}
.speres-text{
  position: absolute;
  top: 3750px;
  text-align: center;
  left: 45px;
  right: 495px;
}
.bsperes{
  display: flex;
}
.peres-frame1{
  transform: rotate(12deg);
}
.peres-frame2{
  transform: rotate(345deg);
  position: absolute;
  top: 4000px;
  right: 130px;
}
.peres-frame3{
  transform: rotate(12deg);
  position: absolute;
  top: 4250px;
  right: 40px;
}
.peres-frame4{
  transform: rotate(345deg);
  position: absolute;
  top: 4500px;
  right: 130px;
}
.kaka{
  position: absolute;
  top: 3765px;
  text-align: center;
  right: 150px;
  transform: rotate(12deg);
}
.ronaldu{
  transform: rotate(345deg);
  position: absolute;
  top: 4017px;
  right: 205px;
  text-align: center;
}
.benzema{
  transform: rotate(12deg);
  position: absolute;
  top: 4268px;
  right: 117px;
  text-align: center;
}
.papa{
  transform: rotate(345deg);
  position: absolute;
  top: 4520px;
  right: 205px;
  text-align: center;
}
.d-text{
  position: absolute;
  top: 4980px;
  right: 95px;
  left: 70px;
  text-align: center;
}
.brend{
  transform: rotate(14deg);
  position: absolute;
  right: 90px;
  top: 7040px;
}
.sponsor{
  transform: rotate(345deg);
  position: absolute;
  right: 90px;
  top: 8000px;
}
.dosti{
  position: absolute;
  right: 500px;
  left: 50px;
  top:6400;
  text-align: center;
}
.last{
  transform: rotate(15deg);
  position: absolute;
  right: 90px;
  top: 8700px;
}
